<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UseKey</key>
	<string>cea6e0c9414eabfbb325d97d8c5f0cd92fbddceeefbc4593a4587627ef8da431</string>
	<key>AttestationAddress</key>
	<string>0xF8cd371Ae43e1A6a9bafBB4FD48707607D24aE43</string>
</dict>
</plist>
